/* =================Mobile and Tablet Responsive=========== */

/* ==================header section===================== */
/* nav container */
/* Mobile responsive */
@media screen and (max-width: 576px) {
  header {
    height: auto;
    margin-bottom: 50px;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-logo {
    margin-bottom: 15px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
  }

  .nav-items a {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .nav-items {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  .nav-icon {
    margin-top: 15px;
  }

  /* banner container */
  .banner-container {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    gap: 20px;
  }
  .goat-info-container {
    width: auto;
    text-align: center;
  }
  .goat-info-container h1 {
    font-size: 50px;
  }
  .goat-info-container h2 {
    font-size: 25px;
  }
  .goat-img-container {
    width: 80%;
    height: auto;
  }
  .goat-info-btn .btn-sign,
  .goat-info-btn .btn-rogue {
    padding: 10px 30px;
  }
  /* online games section */
  .online-game-section {
    height: 100hv;
  }
  .online-games-info h2 {
    font-size: 22px;
  }
  .online-games-info p {
    font-size: 11px;
  }
  .online-game-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .online-games-img-card {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* play games instantly section */
  .play-game-container {
    max-width: 576px;
    height: auto;
    margin: 60px auto;
    flex-direction: column;
    align-content: center;
  }
  .play-game-info-container h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }
  .play-game-info-container {
    width: 100%;
  }
  .play-game-img-container {
    width: 90%;
    margin: auto;
  }
  .play-game-info-container p {
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px; /* 166.667% */
  }
  .play-game-img-container {
    position: relative;
    width: 90%;
    margin-top: 30px;
    display: flex;
  }
  .play-game-img-container .cat {
    width: 120px;
    position: absolute;
    top: 190px;
    right: 220px;
  }
  .play-game-img-container img {
    width: 290px;
  }

  /* games category section */
  .games-category-section {
    height: auto;
    margin-top: 50px;
    margin-bottom: -30px;
  }
  .games-category-container {
    margin: 10px;
  }
  .category-items-container {
    width: 100%;
    grid-template-columns: repeat(3, 120px);
    gap: 5px;
    row-gap: 10px;
    justify-content: center;
  }
  .category-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid white;
    padding-left: 5px;
  }
  .role-play {
    margin-left: 0px;
  }
  .category-items p {
    color: #0b0223;
    font-family: "Work Sans", sans-serif;
    font-size: 11px;
    font-weight: 500;
  }
  .category-items img {
    width: 30px;
  }

  /* footer section */
  .footer-section-container {
    height: 60vh;
    width: 100vw;
    background-color: #0b0223;
  }
  .footer-container {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 30px 0;
  }
  .foot-logo h2 {
    font-size: 20px;
  }
  .foot-logo img {
    width: 45px;
  }
  .foot-text p {
    color: #fff;
    margin-bottom: 5px;
    font-family: "Work Sans", sans-serif;
    font-size: 10px;
    font-weight: 300;
  }
  .footer-info {
    display: grid;
    grid-template-columns: repeat(2, 50px) 70px;
  }
  .social-icon {
    margin: 25px 0;
  }
  .social-icon {
    list-style: none;
  }
  .social-icon .fa-brands {
    font-size: medium;
  }
  .footer-policy-container {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    justify-content: space-around;
    row-gap: 10px;
    width: 50%;
    margin: 10px auto;
    justify-items: center;
  }
  .footer-policy p {
    font-family: "Work Sans", sans-serif;
    font-size: 8px;
    font-weight: 500;
  }
  .footer-title {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Work Sans", sans-serif;
    font-size: 10px;
    font-weight: 500;
  }
  .footer-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}

/* ===============Tablet responsive============== */
@media screen and (min-width: 568px) and (max-width: 992px) {
  /* nav container */
  .navbar {
    margin: 0 50px;
  }
  .nav-items a {
    margin-right: 15px;
  }

  /* banner container */
  .banner-section {
    margin: 0 50px;
  }
  .goat-info-btn {
    margin-top: 20px;
  }

  /* online games section  */
  .online-game-container {
    max-width: 700px;
    margin: 0 auto;
  }
  .online-games-img-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 75%;
    margin: 50px auto;
  }

  /* play games instantly section */
  .play-game-section {
    max-width: 800px;
    margin: 0 auto;
  }
  .play-game-container {
    width: 90%;
    margin: auto;
  }
  .play-game-info-container h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }

  .play-game-info-container {
    width: 50%;
  }
  .play-game-img-container {
    text-align: left;
    width: 100%;
  }
  .play-game-info-container p {
    margin-top: 20px;
    text-align: right;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px; /* 166.667% */
  }
  .play-game-img-container {
    position: relative;
    width: 50%;
  }
  .play-game-img-container .cat {
    width: 100px;
    position: absolute;
    top: 200px;
    right: 220px;
  }
  .play-game-img-container img {
    width: 85%;
    margin-left: 50px;
  }

  /* games category section */
  .games-category-section {
    height: auto;
    margin-top: -40px;
  }
  .games-category-container {
    margin: 0 10px;
  }
  .category-items-container {
    width: 100%;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    row-gap: 20px;
    justify-content: center;
  }
  .category-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
  }
  .role-play {
    margin-left: 0;
  }
  .category-items p {
    color: #0b0223;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  .category-items img {
    width: 40px;
  }
}
