/* Work Sans; font form google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==================header section===================== */
/* nav container */
header {
  height: 100vh;
}
.navbar {
  background-color: #fff;
  max-width: 1100px;
  margin: 0 auto;
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 50px;
  margin-right: 15px;
}
.nav-logo h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu a {
  text-decoration: none;
  color: #3c354f;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.nav-items a {
  margin-right: 10px;
}

.nav-menu .nav-icon {
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 10px 30px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.nav-icon a {
  margin-left: 10px;
}
.nav-icon .fa-youtube {
  color: red;
  font-size: 30px;
}
.nav-icon .fa-tiktok {
  font-size: 20px;
}

/* ------banner container------ */
.banner-section {
  background-color: #fff;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}
.goat-info-container {
  width: 50%;
  display: flex;
  align-items: center;
}
.goat-img-container {
  width: 50%;
}
.goat-img-container img {
  width: 100%;
}
.goat-info-container h2 {
  color: #0b0223;
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.goat-info-container h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.goat-info-container p {
  color: #534c64;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
.goat-info-btn .btn-sign {
  padding: 16px 40px;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  border: none;
  cursor: pointer;
  color: #fff;
}
.goat-info-btn .btn-rogue {
  background: #4ec5f7;
  padding: 16px 40px;
  border-radius: 48px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
}
.goat-info-btn {
  margin-top: 30px;
}

/* =============main section============ */

/* online games section */
.online-game-section {
  height: 90vh;
}
.online-game-container {
  max-width: 1100px;
  margin: 20px auto;
}
.online-games-info h2 {
  color: #0b0223;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
}
.online-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-games-info p {
  color: #534c64;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}
.online-games-img-card {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.img-card {
  position: relative;
}
.img-card img {
  width: 250px;
  transition: filter 0.5s ease;
}
.play-btn {
  position: absolute;
  top: 100px;
  left: 70px;
  display: none;
}
.img-card:hover .play-btn {
  display: block;
}
.img-card:hover img {
  filter: brightness(50%);
}
.play-btn h5 {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-btn .fa-regular {
  font-size: 50px;
  color: white;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
figcaption {
  color: #534c64;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

/* Play Instantly section */
.play-game-container {
  max-width: 1100px;
  height: 80vh;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-game-info-container h2 {
  text-align: right;
  font-size: 44px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  line-height: 60px; /* 125% */
}
.play-game-info-container {
  width: 40%;
}
.play-game-info-container > h2 > span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-game-img-container {
  text-align: right;
  width: 55%;
}
.play-game-info-container p {
  color: #534c64;
  text-align: right;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.play-game-img-container {
  position: relative;
  width: 50%;
}
.play-game-img-container .cat {
  width: 200px;
  position: absolute;
  top: 350px;
  right: 380px;
}
.play-game-img-container img {
  width: 90%;
  margin-left: 60px;
}

/* games category section */
.games-category-section {
  height: 30vh;
  margin-top: 100px;
}
.games-category-container {
  max-width: 1100px;
  margin: 80px auto;
}
.category-items-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  row-gap: 30px;
  justify-items: start;
  padding: 50px 0px;
}

.category-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 5px;
  border: 1px solid white;
}
.role-play {
  margin-left: 25px;
}
.category-items:hover {
  border: 1px solid rgb(240, 16, 221);
  border-radius: 50px;
}
.category-items:hover p {
  color: rgb(213, 54, 199);
}
.category-items p {
  color: #0b0223;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.category-items img {
  width: 50px;
}
main {
  margin-bottom: 100px;
}

/* footer section */
.footer-section-container {
  height: 60vh;
  width: 100%;
  margin: auto;
  background-color: #0b0223;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-container {
  width: 60%;
  margin: auto;
}
.foot-logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 30px;
}

.foot-logo h2 {
  font-size: 38px;
}
.foot-text p {
  color: #fff;
  margin-bottom: 30px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.social-icon {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.social-icon {
  list-style: none;
}
.footer-policy-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.footer-policy p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.footer-title {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
.footer-title-container {
  display: flex;
  justify-content: center;
}
